entrypoint = "main.py"
modules = ["python-3.11"]


[nix]
channel = "stable-24_05"
packages = ["cacert", "freetype", "gcc", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

# [[ports]]
# localPort = 8000
# externalPort = 80

# [[ports]]
# localPort = 8502
# externalPort = 3000

Streamlit Test
[[ports]]
localPort = 8501
externalPort = 80

[agent]
expertMode = true
