entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib", "lsof"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

# MCP 커넥터용 포트
# [[ports]]
# localPort = 8000
# externalPort = 80

# 내부 streamable-http용 포트
[[ports]]
localPort = 8000
externalPort = 3000
exposeLocalhost = true

# streamlit용 포트
[[ports]]
localPort = 8501
externalPort = 80

[agent]
expertMode = true
